<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Piano Sheet</title>
    <center><h1>나만의 오케스트라</h1></center>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/staff.css') }}">
    <script src="{{ url_for('static', filename='scripts/coordinate.js') }}"></script>
</head>
<body>
    <div class="staff">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <button id="printButton" style="position: absolute; left: ">출력</button>
</body>
</html>